<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
    <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
    <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></p>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)%>
    <h3>Reviews</h3>
    <% if restaurant.reviews.any? %>
      <% restaurant.reviews.each do |review| %>
        <p><%= review.thoughts %></p>
        <% end %>
    <% else %>
      <p>No reviews</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="/restaurants/new">Add a restaurant</a>
